.commentAdd{
  margin: 15px 0;

  .commentAddHeading{
    font-family: $FontCuprum;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    border-bottom: 1px solid darken(white, 10%);
    margin-bottom: 10px;
  }

  .formGroup{
    margin: 10px 0;
    textarea{
      min-height: 200px;
      padding: 10px;
      width: 100%;
      font-family: $FontCuprum;
      font-size: 14px;
      border: 2px solid darken(white, 12%);
      outline-color: $offBlue;
    }
    label{
      font-size: 14px;
      font-family: $FontCuprum;
      margin-bottom: 5px;
      display: block;
    }

    input{
      border: 2px solid darken(white, 12%);
      width: 100%;
      font-family: $FontCuprum;
      font-size: 14px;
      height: 40px;
      padding: 0 10px;
      outline-color: $offBlue;
    }

    .commentSubmitButton{
      height: 40px;
      padding: 0 15px;
      background-color: $offBlue;
      color: darken($offBlue, 30%);
      font-family: $FontCuprum;
      font-size: 16px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      outline: none;
      margin-top: 10px;
    }
  }
}