.blogHeading{
  background-color: $offBlue;
  width: 100%;
  min-height: 50vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
  }

  .title{
    font-size: 40px;
    color: white;
    text-shadow: 0 2px 5px $offRed;
    margin: 20px 10px;
    font-family: $FontCuprum;
    font-weight: bold;
  }

  .subTitle{
    color: $offGreen;
    font-size: 18px;
    margin: 10px;
    font-family: $FontCuprum;
  }
}

.homeNavbar{
  position: relative;
  top: 10vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 300px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

