$white: #fff;
$black: #000;
$offGreen: #6bef96;
$offOrange: #e9b681;
$Orange: #ff9913;
$offBlue: #02abc8;
$offRed: #ec5955;

$FontArchivo :  'Archivo Narrow', sans-serif;
$FontCuprum :  'Cuprum', sans-serif;
$FontRoboto :  'Roboto', sans-serif;

$natureImage : url("http://localhost/GamersImages/nature.jpg");
$zombieImage : url("http://localhost/GamersImages/zombie-2467147_1280.jpg");
$technologolyImage : url("http://localhost/GamersImages/technology-3189176_1280.jpg");
$backgroundImage : url("http://localhost/GamersImages/background-2492010_1280.jpg");
$laptopImage : url("http://localhost/GamersImages/laptop-2557572_1280.jpg");
$controllerImage : url("http://localhost/GamersImages/controller.jpg");
$carImage1 : url("http://localhost/GamersImages/car-3322201_1280.jpg");
$manImage1 : url("http://localhost/GamersImages/car-3319951_1280.jpg");